P1 - Sumador de registros/registro.pdn
P1 - Sumador de registros/registro_estado.pdn
P1 - Sumador de registros/control.pdn
P1 - Sumador de registros/control_estados.pdn
P1 - Sumador de registros/ruta_2.pdn
P1 - Sumador de registros/ruta_1.pdn
P1 - Sumador de registros/top_instruccion_1.pdn
P1 - Sumador de registros/top_instruccion_2.pdn
