//! **************************************************************************
// Written by: Map P.20131013 on Wed May 01 21:16:04 2024
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "clr" LOCATE = SITE "A8" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "U15" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "V15" LEVEL 1;
COMP "s1s0<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "M11" LEVEL 1;
COMP "s1s0<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "botones<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "R11" LEVEL 1;
COMP "botones<1>" LOCATE = SITE "M8" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "T11" LEVEL 1;
COMP "botones<2>" LOCATE = SITE "N8" LEVEL 1;
COMP "botones<3>" LOCATE = SITE "U8" LEVEL 1;
COMP "botones<4>" LOCATE = SITE "V8" LEVEL 1;
COMP "botones<5>" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

